body {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 25px;
}

header {
  background-color: #404041;
  height: 100px;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
  font-size: 40px
}

.number {
  color: #ED458B;
  font-weight: 700
}

input {
  width: 25%;
  line-height: 2.5;
  font-size: 15px
}

.min, .max {
  display: inline;
  width: 10%;
}

input, button, label {
  display: block;
  margin: 10px auto;
}

form, main {
  text-align: center
}

button {
  background-color: #929497;
  width: 20%;
  color: #FFF;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 300;
}

button:hover {
  background-color: #EB008B
}

.last-guess {
  color: #EB008B;
  font-size: 166px;
  font-weight: 700;
  margin: 10px;
}

.last-guess-was,
.result, label,
.previous-guesses {
  color: #404041;
}

.make-guess p {
  margin: 0;
}

.previous-guesses {
  position: absolute;
  z-index: 1;
  right: 15px;
  top: 200px;
  border: 1px #404041 solid;
  padding: 10px;
}

.previous-guesses h3 {
  font-size: 30px;
  font-weight: 700;
  color: #6dcc0fb0;
  margin: 3px;
}

.previous-guesses p {
  font-size: 20px;
  display: block;
  color: #404041;
  margin: 3px;
}

main,
.reset-button,
.previous-guesses {
  display: none;
}
